html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #fff;
    // background: linear-gradient(180deg, #262626 14.72%, rgba(107, 14, 14, 0.83) 25.04%, rgba(60, 13, 13, 0.83) 30.35%, rgba(16, 31, 49, 0.92) 36.07%, rgba(16, 31, 49, 0.92) 60.75%, rgba(11, 30, 30, 0.88) 63.32%, rgba(11, 30, 30, 0.82) 79.52%, rgba(1, 1, 1, 0.82) 84.3%, rgba(1, 1, 1, 0.82) 98.09%), #C4C4C4;
    background-color: #262626;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 30px;
    @media (max-width: 575px) {
        padding: 0 19px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    @media (max-width: 991px) {
        font-size: 30px;
    }
    @media (max-width: 575px) {
        font-size: 20px;
    }
}

p {
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}