// @media (max-width: 1199px) {
// }

// @media (max-width: 991px) {
// }

// @media (max-width: 767px) {
// }

// @media (max-width: 575px) {
// }

.header {
    // @media (max-width: 1380px) {
    //     .menu {
    //         &__list {
    //             width: 730px;
    //             a {
    //                 font-size: 18px;
    //             }
    //         }
    //     }
    // }
    // @media (max-width: 1169px) {
    //     .menu {
    //         margin-left: 80px;
    //     }
    // }
    @media (max-width: 1080px) {
        .logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        .menu {
            &__list {
                width: 380px;
                a {
                    font-size: 15px;
                }
            }
        }
        .number {
            max-width: 145px;
            flex-wrap: wrap;
            img {
                margin-right: 0;
            }
            h3 {
                margin-top: 10px;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 767px) {
        position: absolute;
        padding: 0;
        &__inner {
            width: 66%;
        }
        .menu {
            display: none;
        }
        .number.desc {
            display: none;
        }
        .number {
            margin: 0 auto;
        }
        .navnav {
            display: block;
        }
        .navBurger {
            z-index: 12;
            cursor: pointer;
            background: #fff;
            box-sizing: border-box;
            background-clip: content-box;
            width: 20px;
            height: 24px;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            &:before,
            &:after {
                content: "";
                position: absolute;
                background: #fff;
                height: 2px;
                width: 100%;
                right: 0;
                will-change: rotate;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            &:before {
                top: -5px;
                width: 100%;
            }
            &:after {
                bottom: -5px;
                width: 100%;
            }
            &.active {
                background: transparent;
                background-clip: content-box;
            }
            &.active:before {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                top: 0;
                background: #fff;
                width: 110%;
            }
            &.active:after {
                bottom: 0;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
                background: #fff;
                width: 110%;
            }
        }

        .overlay {
            z-index: 11;
            display: block;
            position: absolute;
            top: 60px;
            right: 0;
            width: 360px;
            height: 378px;
            opacity: 0;
            transform-origin: right top;
            transform: scale(0);
            visibility: hidden;
            transition: all 0.4s ease-in-out;
            overflow: hidden;
            &.open {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
                li {
                    display: block;
                    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
                    animation-delay: 0.4s;
                    transform: rotate(-7deg);
                    transform-origin: right bottom;
                    &:nth-of-type(2) {
                        animation-delay: 0.5s;
                    }
                    &:nth-of-type(3) {
                        animation-delay: 0.6s;
                    }
                    &:nth-of-type(4) {
                        animation-delay: 0.7s;
                    }
                    &:nth-of-type(5) {
                        animation-delay: 0.8s;
                    }
                }
            }
        }
        .overlayMenu {
            background-color: #212121;
            text-align: center;
            padding: 35px 0;
            width: 100%;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li {
                    opacity: 0;
                    width: 100%;
                    a {
                        color: #fff;
                        font-size: 18px;
                        transition: 0.2s;
                        &:hover,
                        &:active,
                        &:focus {
                            transform: translateX(-2px);
                            padding-left: 80px;
                        }
                    }
                }
            }
        }
        .locked {
            overflow: hidden;
        }
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                left: 50px;
            }
            100% {
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
            }
        }
    }
    @media (max-width: 575px) {
        padding: 10px 0;
        &__container {
            padding: 0 10px;
        }
        .overlay {
            width: 100%;
            top: 67px;
        }
    }
    @media (max-width: 450px) {
        &__inner {
            width: 56%;
        }
    }
}

.main {
    @media (max-width: 1196px) {
        &__title {
            font-size: 35px;
            line-height: 44px;
            max-width: 500px;
            margin-bottom: 22px;
        }
        img {
            max-width: 50%;
        }
    }
    @media (max-width: 991px) {
        &__title {
            font-size: 24px;
            line-height: 30px;
            max-width: 340px;
            margin-bottom: 18px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 18px;
            max-width: 350px;
        }
        .btn {
            font-size: 16px;
            max-width: 268px;
            padding: 16px 0;
        }
    }
    @media (max-width: 767px) {
        height: 80vh;
        background-size: 120%;
        background-position: 10% 80%;
        img {
            max-width: 40%;
        }
    }
    @media (max-width: 575px) {
        height: auto;
        background-size: 150%;
        background-position: 10% 50%;
        transform: translateY(20%);
        margin-bottom: 60px;
        &__wrapper {
            flex-direction: column;
            text-align: center;
        }
        &__title {
            margin: 0 auto;
            margin-bottom: 20px;
        }

        img {
            max-width: 55%;
            position: relative;
            top: -15px;
        }
    }
}
.man {
    @media (max-width: 1830px) {
        &__inner {
            background-size: 50%;
        }
        &__wrapper {
            padding-top: 40px;
            &-left {
                padding-top: 0px;
            }
            &-right {
                p {
                    font-size: 20px;
                }
            }
        }
    }
    @media (max-width: 1670px) {
        &__inner {
            background-image: none;
        }
        &__wrapper {
            display: block;

            &-left {
                .text {
                    display: none;
                }
            }
            &-right {
                max-width: 100%;
                .text {
                    position: relative;
                    max-width: 50%;
                    &__inner {
                        margin-top: 20px;
                        position: absolute;
                        right: 15%;
                        p {
                            display: block;
                        }
                    }
                    img {
                        display: block;
                        width: 100%;
                        float: left;
                    }
                }
            }
        }
    }
    @media (max-width: 991px) {
        &__wrapper {
            &-right {
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 14px;
                }
                .text {
                    &__inner {
                        margin-top: 5px;
                        right: 10%;
                    }
                    p {
                        margin-bottom: 0;
                        font-size: 12px;
                    }
                    .bord {
                        &::after {
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 776px) {
        &__wrapper {
            &-right {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 580px) {
        &__wrapper {
            &-right {
                .text {
                    p {
                        font-size: 10px;
                    }
                    .bord {
                        padding-bottom: 1px;
                        &::after {
                            width: 175px;
                        }
                    }
                }
                h3 {
                    font-size: 12px;
                    margin-bottom: 0px;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 2px;
                    line-height: 15px;
                }
            }
        }
    }
    @media (max-width: 480px) {
        &__wrapper {
            &-right {
                .text {
                    max-width: 200px;
                    p {
                        font-size: 8px;
                        margin-bottom: -6px;
                    }
                    .bord {
                        padding-bottom: 0px;
                        margin-bottom: -2px;
                        &::after {
                            width: 140px;
                        }
                    }
                }
            }
        }
    }
}

.key {
    @media (max-width: 991px) {
        &__title {
            font-size: 24px;
            padding-bottom: 10px;
        }
        &__inner {
            grid-template-columns: repeat(2, 306px);
            justify-content: space-around;
            grid-row-gap: 18px;
        }
        &__box {
            img {
                margin-bottom: 14px;
            }
            h3 {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
    @media (max-width: 700px) {
        padding: 40px 0 20px;
        &__title {
            font-size: 20px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
        }
        &__inner {
            grid-template-columns: repeat(2, 210px);
            justify-content: space-around;
            grid-row-gap: 18px;
        }
        &__box {
            img {
                margin-bottom: 14px;
                max-width: 210px;
            }
            h3 {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
    @media (max-width: 480px) {
        &__inner {
            grid-template-columns: repeat(2, 150px);
            justify-content: space-around;
            grid-row-gap: 18px;
        }
        &__box {
            img {
                margin-bottom: 14px;
                max-width: 150px;
            }
            h3 {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}
.project {
    @media (max-width: 1130px) {
        &__title {
            font-size: 28px;
            line-height: normal;
        }
        &__inner {
            grid-template-columns: repeat(3, 272px);
        }
    }
    @media (max-width: 991px) {
        &__title {
            font-size: 22px;
            line-height: normal;
            span {
                padding-bottom: 15px;
            }
        }
        p {
            font-size: 18px;
            line-height: 20px;
        }
    }
    @media (max-width: 865px) {
        &__title {
            text-align: center;
        }
        &__inner {
            grid-template-columns: repeat(2, 272px);
            justify-content: space-around;
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 16px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
        }
    }
    @media (max-width: 640px) {
        &__inner {
            grid-template-columns: repeat(2, 200px);
        }
        &__box {
            .bg {
                max-width: 200px;
            }
            .garant {
                max-width: 100px;
                right: 0px;
            }
        }
    }
    @media (max-width: 575px) {
        padding: 30px 0;
        &__title {
            margin: 0 auto 15px;
            max-width: 300px;
            span {
                border-bottom: none;
            }
        }
        &__inner {
            grid-template-columns: repeat(2, 150px);
            grid-row-gap: 6px;
        }
        &__box {
            .bg {
                max-width: 150px;
            }
            .garant {
                max-width: 90px;
                right: -20px;
            }
        }
        P {
            font-size: 12px;
            line-height: 14px;
        }
    }
    @media (max-width: 400px) {
        &__inner {
            justify-content: space-between;
        }
    }
}
.carcass {
    @media (max-width: 1130px) {
        &__title {
            font-size: 28px;
            line-height: normal;
        }
        &__inner {
            grid-template-columns: repeat(2, 357px);
            justify-content: space-around;
        }
    }
    @media (max-width: 991px) {
        &__title {
            font-size: 22px;
            span {
                padding-bottom: 15px;
            }
        }
        &__box {
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                line-height: normal;
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 865px) {
        &__title {
            text-align: center;
            margin-bottom: 15px;
        }
        &__inner {
            grid-template-columns: repeat(2, 300px);
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 16px;
        }
        &__inner {
            grid-template-columns: repeat(2, 230px);
            justify-content: space-around;
        }
        &__box {
            max-width: 230px;
            width: 100%;
            img {
                width: 100%;
            }
            h4 {
                font-size: 14px;
                margin: 10px 0;
            }
            p {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
    }
    @media (max-width: 575px) {
        &__title {
            font-size: 16px;
            span {
                border-bottom: none;
            }
        }
        &__inner {
            grid-template-columns: repeat(2, 150px);
            justify-content: space-around;
        }
        &__box {
            max-width: 150px;
            width: 100%;
            img {
                width: 100%;
            }
            h4 {
                font-size: 12px;
                margin: 10px 0;
            }
            p {
                font-size: 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.ander {
    @media (max-width: 1180px) {
        .box {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            max-width: 400px;
            margin-bottom: 15px;
            h4 {
                max-width: 300px;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__obl {
            grid-template-columns: repeat(2, 400px);
            justify-content: space-around;
        }
    }
    @media (max-width: 1130px) {
        &__title {
            font-size: 28px;
        }
        .box {
            h4 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
        &__meta {
            img {
                max-width: 250px;
                width: 100%;
            }
        }
    }
    @media (max-width: 991px) {
        &__title {
            font-size: 22px;
        }
        .box {
            p {
                max-width: 300px;
            }
        }
        &__obl {
            grid-template-columns: repeat(2, 350px);
            justify-content: space-around;
        }
        &__meta {
            img {
                max-width: 220px;
                width: 100%;
            }
        }
    }
    @media (max-width: 865px) {
        &__title {
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 16px;
        }
        &__obl {
            grid-template-columns: repeat(2, 270px);
        }
        .box {
            max-width: 270px;
            img {
                max-width: 260px;
            }
            .info {
                max-width: 230px;
            }
        }
        &__meta {
            img {
                max-width: 160px;
                width: 100%;
            }
        }
    }
    @media (max-width: 575px) {
        &__title {
            line-height: normal;
            span {
                border-bottom: none;
            }
            margin-bottom: 15px;
        }
        &__obl {
            grid-template-columns: repeat(2, 175px);
        }
        .box {
            .info {
                max-width: 155px;
                p {
                    font-size: 10px;
                    line-height: normal;
                }
                h4 {
                    font-size: 12px;
                }
            }
            img {
                max-width: 140px;
            }
        }
        &__meta {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            img {
                max-width: 150px;
                width: 100%;
            }
        }
    }
}

.mdf {
    @media (max-width: 1277px) {
        &__box {
            flex-direction: column;
            justify-content: flex-start;
            img {
                max-width: 264px;
                margin-bottom: 15px;
            }
            p {
                max-width: 364px;
                margin-left: 0;
            }
        }
        &__inner {
            justify-content: space-around;
            grid-template-columns: repeat(2, 364px);
        }
    }
    @media (max-width: 1130px) {
        &__title {
            line-height: normal;
            font-size: 28px;
            span {
                padding-bottom: 15px;
            }
        }
    }
    @media (max-width: 991px) {
        &__title {
            line-height: normal;
            font-size: 22px;
            span {
                padding-bottom: 15px;
            }
        }
        &__inner {
            grid-template-columns: repeat(2, 300px);
        }
        &__box {
            p {
                font-size: 16px;
                max-width: 300px;
            }
        }
        .btn {
            font-size: 16px;
            max-width: 300px;
            height: 70px;
        }
    }
    @media (max-width: 865px) {
        &__title {
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 16px;
        }
        &__inner {
            grid-template-columns: repeat(2, 220px);
        }
        &__box {
            p {
                font-size: 14px;
                max-width: 250px;
            }
            img {
                max-width: 220px;
            }
            .btn {
                line-height: normal;
                font-size: 12px;

                height: 55px;
            }
        }
    }
    @media (max-width: 575px) {
        &__title {
            span {
                border-bottom: none;
            }
            margin-bottom: 15px;
        }
        &__inner {
            grid-template-columns: repeat(2, 150px);
        }
        &__box {
            p {
                font-size: 10px;
                line-height: normal;
                max-width: 150px;
            }
            .btn {
                line-height: normal;
                font-size: 10px;

                height: 45px;
            }
        }
    }
}

.timh {
    @media (max-width: 1380px) {
        &__box {
            max-width: 30%;
            &-boxik {
                flex-direction: column;
                margin-bottom: 15px;
                img {
                    margin-bottom: -15px;
                }
            }
        }
    }
    @media (max-width: 1190px) {
        &__title {
            background-image: none;
            text-align: center;
        }
    }
    @media (max-width: 991px) {
        padding: 40px 0;
        &__title {
            padding: 0;
            font-size: 22px;
        }
        &__box {
            max-width: 32.5%;
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 18px;
        }
        &__box {
            max-width: 32.5%;
            p {
                font-size: 12px;
                line-height: normal;
            }
            img {
                width: 100%;
                max-width: 140px;
            }
        }
    }
    @media (max-width: 575px) {
        &__box {
            &-boxik {
                margin-bottom: 0px;
                p {
                    font-size: 8px;
                    margin-bottom: 5px;
                }
                img {
                    margin-bottom: -5px;
                }
            }
        }
    }
}

.our {
    @media (max-width: 1220px) {
        &__title {
            text-align: center;
            max-width: 100%;
        }
        &__box {
            flex-direction: column;
            align-items: center;
            &-plhr {
                max-width: 660px;
                margin-top: 15px;
            }
        }
        .btn-wrapper {
            margin: 30px auto;
            width: 272px;
        }
    }
    @media (max-width: 991px) {
        &__title {
            font-size: 22px;
            padding-bottom: 10px;
            margin-bottom: 25px;
        }
    }
    @media (max-width: 767px) {
        &__title {
            font-size: 18px;
        }
        &__box {
            margin-bottom: 45px;

            &-plhr {
                max-width: 482px;
                margin-top: 15px;
                font-size: 14px;
                .txt {
                    font-size: 14px;
                    a {
                        max-width: 100px;
                    }
                }
            }
        }
        .imgs {
            .img {
                max-height: 210px;
            }
            &__block {
                .one {
                    max-height: 210px;
                }
                img {
                    max-height: 100px;
                }
            }
        }
        .imgb {
            max-width: 483px;
            justify-content: space-between;

            img {
                max-height: 86px;
            }
        }
        .btn-wrapper {
            margin: 30px auto;
            width: 219px;
            margin: 20px auto 40px;
            a {
                font-size: 14px;
                padding: 15px;
            }
        }
    }
    @media (max-width: 575px) {
        padding: 20px 0;
        &__title {
            line-height: normal;
        }
        .imgs {
            .img {
                max-height: 150px;
            }
            &__block {
                .one {
                    max-height: 150px;
                }
                img {
                    max-height: 70px;
                }
            }
        }
        &__box {
            margin: 20px 0;
            &-plhr {
                .txt {
                    font-size: 12px;
                    line-height: normal;
                    margin-bottom: 5px;
                    a {
                        max-width: 100px;
                    }
                }
            }
            .cont {
                &__block {
                    img {
                        width: 100%;
                        max-width: 30px;
                    }
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
        .imgb {
            max-width: 345px;
            justify-content: space-between;

            img {
                max-height: 60px;
            }
        }
    }
}

.work {
    @media (max-width: 1770px) {
        &__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__box {
            background-image: none;
            max-width: 500px;
            &:nth-child(6) {
                background-image: none;
                max-width: 500px;
                padding: 0;
            }
            &:nth-child(even) {
                margin: 0;
            }
            &:nth-child(odd) {
                margin: 0;
            }
            .num {
                margin-left: 0;
            }
        }
        &__btn {
            position: relative;
        }
    }
    @media (max-width: 1100px) {
        &__inner {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        &__box {
            max-width: 100%;
            .block {
                max-width: 80%;
            }
            &:nth-child(6) {
                max-width: inherit;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 30px 0;
        &__title {
            font-size: 20px;
            padding-bottom: 15px;
            line-height: normal;
        }
        &__btn {
            top: 20px;
        }
    }
    @media (max-width: 575px) {
        padding: 20px 0;
        &__title {
            font-size: 18px;
            padding-bottom: 15px;
            line-height: normal;
        }
        &__box {
            .num {
                font-size: 100px;
                margin-top: 0;
            }
            .block {
                h4 {
                    font-size: 16px;
                    line-height: normal;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
.qstn {
    @media (max-width: 991px) {
        padding-bottom: 560px;
        &__inner {
            .accordion {
                font-size: 20px;
                padding-left: 25px;
            }
            p {
                font-size: 16px;
                line-height: normal;
            }
        }
    }
    @media (max-width: 767px) {
        padding-bottom: 500px;
    }
    @media (max-width: 575px) {
        &__title {
            padding-bottom: 0;
        }
        .accordion {
            margin-bottom: 5px;
            font-size: 14px;
        }
        p {
            font-size: 12px;
            line-height: normal;
        }
    }
}
.about {
    @media (max-width: 1877px) {
        &__container {
            padding: 30px;
        }
        max-width: 1100px;
        .abbg {
            display: none;
        }
        &__title {
            margin-bottom: 25px;
        }
    }
    @media (max-width: 991px) {
        &__box {
            max-width: 350px;
            img {
                max-width: 290px;
            }
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
        .sec {
            .btn {
                font-size: 14px;
                padding: 15px 0;
                max-width: 220px;
            }
        }
        .trh {
            margin-top: 35px;
        }
    }
    @media (max-width: 767px) {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__box {
            margin-bottom: 15px;
            img {
                padding-left: 0;
            }
        }
    }
}
.map {
    @media (max-width: 575px) {
        h5 {
            font-size: 16px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            margin-bottom: 10px;
            text-align: center;
        }
        .box {
            font-size: 12px;
            img {
                max-width: 14px;
            }
        }
    }
}
.footer {
    @media (max-width: 1175px) {
        &__inner {
            flex-direction: column;
        }
        &__box {
            margin-bottom: 15px;
            p {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 575px) {
        &__boxik {
            &-img {
                margin-top: 15px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                max-width: 300px;
                img {
                    &:nth-child(4) {
                        margin-right: 0;
                    }
                }
                h3 {
                    margin-top: 14px;
                }
            }
        }
    }
}
