@import "_fonts";
@import "_global";
header.sticky {
    background: #1b1b1b;
}

.header {
    transition: all 0.4s ease;
    padding: 10px 0;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
    width: 100%;
    z-index: 5;

    .logo img {
        max-width: 228px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .menu {
            margin: 0 30px;
            &__list {
                display: flex;
                justify-content: space-between;
                width: 430px;
                a {
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                    &:hover{
                        border-bottom: 1px #fff solid;
                    }
                }
            }
        }
    }
    .number {
        display: flex;
        justify-content: space-between;
        img {
            margin-right: 10px;
        }
    }

    .overlay,
    .navnav {
        display: none;
    }
}

.main {
    max-height: 90vh;
    background-image: url("../img/main-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 45px;
        line-height: 54px;
        max-width: 620px;
        margin-bottom: 29px;
    }
    p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 29px;
        max-width: 475px;
    }
    .btn {
        font-size: 18px;
        color: #fff;
        max-width: 308px;
        width: 100%;
        padding: 19px 0;
        background-color: #ed4a4a;
        box-shadow: 0px 2px 10px rgba(237, 74, 74, 0.4);
        border-radius: 17px;
        text-align: center;
        transition: all 0.6s ease;
        &:hover {
            box-shadow: none;
            background-color: #622416;
        }
    }
}

.man {
    padding-bottom: 44px;
    &__inner {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        img {
            position: absolute;
            left: -3%;
            transform: translateX(0%);
            bottom: 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        &-left {
            padding-top: 40px;
            p {
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 8px;
                text-align: right;
                &:nth-child(2n) {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 8px;
                    display: inline-block;
                    float: right;
                    justify-content: flex-end;
                }
            }
        }
        &-right {
            max-width: 665px;
            h3 {
                font-size: 25px;
                line-height: 29px;
                font-weight: normal;
                border-bottom: 1px solid #fff;
                display: inline-block;
                margin-bottom: 8px;
            }
            p {
                font-size: 25px;
                line-height: 29px;
                margin-bottom: 15px;
                &:last-child {
                    margin-top: 20px;
                    padding: 7px;
                    box-shadow: inset 0px 0px 13px 3px rgba(213, 175, 78, 0.37),
                        0px 0px 13px 3px rgba(213, 175, 78, 0.37);
                    border-radius: 17px;
                }
            }
        }
    }
}

.key {
    padding: 40px 0;
    &__title {
        padding-bottom: 21px;
        border-bottom: 1px solid #fefefe;
        margin-bottom: 42px;
        display: inline-block;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 306px);
        justify-content: space-between;
        grid-row-gap: 27px;
    }
    &__box {
        text-align: center;
        img {
            border-radius: 10px;
            margin-bottom: 27px;
        }
        h3 {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

.project {
    background: linear-gradient(
            180deg,
            #262626 1%,
            rgba(107, 14, 14, 0.788) 55%,
            rgba(60, 13, 13, 0.83) 80%,
            rgba(16, 31, 49, 0.92) 100%
        ),
        #c4c4c4;
    padding: 40px 0;
    &__title {
        margin-bottom: 30px;
        padding-bottom: 19px;
        text-align: right;
        span {
            font-weight: 400;
            padding-bottom: 21px;
            border-bottom: 1px solid #fff;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 272px);
        justify-content: space-between;
        grid-row-gap: 17px;
    }
    &__box {
        position: relative;
        margin-bottom: 17px;
        .garant {
            position: absolute;
            top: -30px;
            right: 0;
        }
    }
    p {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
    }
}

.carcass {
    background: linear-gradient(
            180deg,
            rgba(16, 31, 49, 0.92) 25%,
            rgba(16, 31, 49, 0.92) 75%,
            rgba(11, 30, 30, 0.88) 100%
        ),
        #c4c4c4;
    padding: 40px 0;
    &__title {
        margin-bottom: 30px;
        padding-bottom: 19px;
        span {
            font-weight: 400;
            padding-bottom: 21px;
            border-bottom: 1px solid #fff;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 357px);
        justify-content: space-between;
        grid-row-gap: 17px;
    }
    &__box {
        h4 {
            font-size: 22px;
            font-weight: normal;
            margin: 20px 0;
        }
        p {
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 20px;
        }
    }
}

.ander {
    background: linear-gradient(
            180deg,
            rgba(11, 30, 30, 0.88) 25%,
            rgba(11, 30, 30, 0.82) 75%,
            rgba(1, 1, 1, 0.82) 100%
        ),
        #c4c4c4;
    padding: 40px 0;
    &__obl {
        display: grid;
        grid-template-columns: repeat(2, 570px);
        justify-content: space-between;
        grid-row-gap: 17px;
        .box {
            display: flex;
            justify-content: space-between;
            h4 {
                font-size: 20px;
                line-height: 24px;
                font-weight: normal;
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 1px solid #fff;
            }
            p {
                font-size: 19px;
                line-height: 20px;
            }
        }
    }
    &__title {
        margin: 45px 0;
        text-align: right;
        span {
            padding-bottom: 15px;
            border-bottom: 1px solid #fff;
        }
    }
    &__meta {
        display: flex;
        justify-content: space-between;
    }
}

.mdf {
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.82) 84.3%, rgba(1, 1, 1, 0.82) 98.09%), #c4c4c4;
    padding: 40px 0;
    &__title {
        margin-bottom: 30px;
        padding-bottom: 19px;
        span {
            font-weight: 400;
            padding-bottom: 21px;
            border-bottom: 1px solid #fff;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 593px);
        justify-content: space-between;
        grid-row-gap: 49px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        p {
            margin-left: 16px;
            font-size: 20px;
            line-height: 24px;
        }
        .btn {
            display: flex;
            text-align: center;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #a82c11;
            box-shadow: -2px 1px 30px rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            width: 100%;
            max-width: 371px;
            height: 84px;
            margin-top: 40px;
            transition: 0.3s;
            font-size: 18px;
            line-height: 22px;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.timh {
    background: #292929;
    padding: 23px;
    &__title {
        background-image: url("../img/ttl.svg");
        background-repeat: no-repeat;
        background-position: 110%;
        font-size: 33px;
        padding: 23px;
        margin-bottom: 24px;
        text-align: right;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        background: #262626;
        box-shadow: 0px 0px 12px rgba(234, 155, 155, 0.13);
        border-radius: 10px;
        width: 100%;
        max-width: 388px;
        padding: 8px;
        &-boxik {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 10px;
            }
            .prc {
                background: #cc4949;
                border-radius: 3px;
                display: inline-block;
                padding: 2px 4px;
            }
        }
    }
    .sub {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        margin-top: 14px;
    }
}

.our {
    padding: 40px 0;
    background-image: url("../img/our-bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    &__title {
        font-weight: bold;
        font-size: 33px;
        padding-bottom: 30px;
        margin-bottom: 45px;
        max-width: 930px;
        border-bottom: 1px solid #cf1717;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
        &:nth-child(2) {
            margin-bottom: 44px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-boxik {
            .imgs {
                display: flex;
                margin-bottom: 14px;
                .img {
                    margin-right: 14px;
                }
                &__block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .imgb {
                display: flex;
                justify-content: space-around;
            }
        }
        &-plhr {
            max-width: 492px;
            .txt {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 13px;
            }
            .cont {
                margin: 17px 0;
                display: flex;
                justify-content: space-between;
                &__block {
                    text-align: center;
                }
            }
        }
    }
    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
        margin-bottom: 50px;
    }
    &__btn {
        background: #913420;
        box-shadow: -2px 1px 20px rgba(36, 117, 122, 0.76);
        border-radius: 6px;
        transition: all 0.3s;
        font-size: 18px;
        color: #fff;
        padding: 21px 15px;
        &:hover {
            box-shadow: none;
        }
    }
}

.work {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 42px;
    background-image: url("../img/work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 1px solid #fefefe;
        display: inline-block;
    }
    &__inner {
        position: relative;
    }
    &__box {
        background-image: url("../img/work-box-bg.svg");
        background-repeat: no-repeat;
        background-position: top left;
        display: flex;
        margin-bottom: -15px;
        &:nth-child(2) {
            margin-left: 90px;
        }
        &:nth-child(3) {
            margin-left: 180px;
        }
        &:nth-child(4) {
            margin-left: 270px;
        }
        &:nth-child(5) {
            margin-left: 360px;
        }
        &:nth-child(6) {
            margin-left: 450px;
        }
        .num {
            font-size: 180px;
            color: rgba(237, 74, 74, 0.5);
            font-family: sans-serif;
            margin-left: -57px;
            margin-top: -25px;
        }
        .block {
            max-width: 580px;
            margin-top: 13px;
            margin-left: 20px;
            h4 {
                border-bottom: 1px solid #fff;
                padding-bottom: 8px;
                margin-bottom: 7px;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                max-width: 540px;
            }
            p {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        &-inner {
            color: #fff;
            text-align: center;
            background: #c6781e;
            box-shadow: -2px 1px 30px rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            max-width: 290px;
            padding: 7px 14px;
            font-size: 18px;
            line-height: 22px;
            transition: 0.3s;
            &:hover {
                box-shadow: none;
            }
        }
    }
}
.qstn {
    padding-top: 42px;
    &__title {
        max-width: 930px;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 32px;
        margin: 0 auto 39px;
    }
    .accordion {
        background-color: #3d3c3c;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        border-radius: 8px;
        outline: none;
        font-size: 28px;
        transition: 0.4s;
        margin-bottom: 19px;
        box-shadow: 0px 5px 14px rgba(220, 183, 87, 0.25);
    }

    .active,
    .accordion:hover {
        box-shadow: none;
    }

    .accordion:after {
        content: "\002B";
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        margin-bottom: 18px;
        font-size: 22px;
        line-height: 23px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.about {
    padding-top: 300px;
    padding-bottom: 30px;
    background-image: url(../img/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1988px;
    margin: 0 auto;
    margin-top: -200px;
    &__title {
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        max-width: 430px;
        img {
            margin-bottom: 25px;
            padding-left: 50px;
        }
        h4 {
            font-size: 22px;
            font-weight: 500;
            color: #e68a8a;
            margin-bottom: 16px;
        }
        p {
            font-size: 17px;
            line-height: 21px;
        }
    }
    .sec {
        h4 {
            color: #5bcdcd;
        }
    }
    .trh {
        margin: 100px auto 0;
        h4 {
            color: #b7b7b7;
            text-align: center;
        }
    }
}
.map {
    padding: 50px;
    background-image: url(../img/map-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1920px;
    &__inner {
        background: rgba(39, 39, 39, 0.95);
        border-radius: 10px;
        color: #fff;
        padding: 20px 6px;
        max-width: 349px;
        margin: 0 auto;
        h5 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 16px;
            text-align: center;
        }
        p {
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 22px;
            padding: 0 17px;
        }
        .box {
            display: flex;
            padding: 0 17px;
            align-items: center;
            margin-bottom: 14px;
            img {
                margin-right: 10px;
            }
        }
    }
}

.footer {
    padding: 70px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box {
        p {
            font-size: 17px;
            line-height: 21px;
            max-width: 387px;
        }
    }
    &__logo {
        margin: 0 20px;
    }
    &__boxik {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            font-size: 17px;
            line-height: 21px;
            text-align: right;
            margin-bottom: 50px;
            max-width: 349px;
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
        }
        .btn {
            background: #a82c11;
            box-shadow: -2px 1px 30px rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            padding: 10px 12px;
            transition: all 0.3s;
            max-width: 241px;
            margin-bottom: 30px;
            &:hover {
                box-shadow: none;
            }
        }
        h4 {
            font-weight: normal;
            font-size: 17px;
            margin-bottom: 7px;
        }
        &-img {
            display: flex;
            img {
                margin-right: 16px;
            }
            h3 {
                font-size: 25px;
            }
        }
    }
}

@import "media";
